<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>event-location</ion-title>
  </ion-toolbar>
  @if (event()!.address) {
  <ion-toolbar>
    <ion-label (click)="toggleAddress()" class="ion-text-center">
      {{ showFullAddress ? eventAddress : shortAddress }}
    </ion-label>
  </ion-toolbar>
  }
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">event-location</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="map-container">
    @if(coordinates()) {
    <ol-map [coordinates]="coordinates()">
      <ol-marker [coordinates]="coordinates()"></ol-marker>
    </ol-map>
    }
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startNavigation()">
      <ion-icon name="navigate-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
